body {
    background-color: #FFFF;
    border-radius: 5px;
    width: 600px;
	max-height: 80%;
    padding: 60px 100px;
    position: relative;
	overflow-y: scroll;
    display: flex;
    justify-content: center;
}
h3 {
	font-family: 'Work Sans';
	font-size: 26px;
    font-weight: 400;
	color: black;
	margin-bottom: 40px;
}
hr {
    border: 1px solid #B3B3B3;
	margin-top: 50px;
	margin-bottom: 40px;
}

.photo-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 170px;
    background-color: #E8F1F6;
}
.photo-location i {
    font-size: 40px;
    color: #B9C5CC;
}
.photo-location button {
    height: 35px;
	color: #FFFF;
	background: #CBD6DC;
	width: 240px;
    height: 35px;
	color: #306685;
    border: none;
	font-family: 'Syne';
	border-radius: 60px;
	font-size: 15px;
}
.photo-location p {
    font-family: 'Work Sans';
    font-size: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
button {
    display: flex;
    justify-content: center;
    height: 35px;
	color: #FFFF;
	background: #CBD6DC;
	width: 240px;
    height: 35px;
	color: #306685;
    border: none;
	font-family: 'Syne';
	border-radius: 60px;
	font-size: 15px;
}